In [68]:
#This app lable price

In [69]:
#creat sample data

data = pd.DataFrame(
    {
        'name':['خودت باش','بسم رب مهدی','یا لثارات الحسیین','منتقم','زهرا س','برای  مهدی'],
        'price':[313,4500,7500,8000,1000,150]
    }

)

In [70]:
data

                name  price
0           خودت باش    313
1        بسم رب مهدی   4500
2  یا لثارات الحسیین   7500
3              منتقم   8000
4             زهرا س   1000
5         برای  مهدی    150

In [71]:
# calculate Quartiles(25%,50%,75%)
spss = dict()
for i in [25,50,75]:
    num =np.percentile(data.price,i)
    spss['{}%'.format(i)]=num
print(spss)

{'25%': 484.75, '50%': 2750.0, '75%': 6750.0}

In [72]:
#lable price and append lable list to dataframe
status = list()
for price in data.price:
    if price <= spss['25%']:
        status.append('ارزان')
    if spss['25%'] < price <spss['75%']:
        status.append(مع')
    if price >= spss['75%']:
        status.append('گران')
data['status']=status

In [76]:
#export data frame to csv file
data.to_csv('spss.csv', encoding='utf-8', index=False)